<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">

<div layout:fragment="content">
<script type="text/javascript">

var parseBusicard = ()=>{
	
	var form = $('#frmMain')[0];
    var formData = new FormData(form);
	
	$.ajax({
		type: "POST"
		, url: "/api/busicard/parse"
		, enctype: 'multipart/form-data'
		, data: formData
		, processData: false
		, contentType: false
		, cache: false
	})
	.done(function(data) {
		console.log(data);
		
		if(data.empNm) {
			alert(`이름 : ${data.empNm}\n직급 : ${data.empPosNm}\n내선전화 : ${data.tel}\n핸드폰 : ${data.hp}\n이메일 : ${data.email}`);
		}
		else if(data.empNmEn) {
			alert(`이름 : ${data.empNmEn}\n직급 : ${data.empPosNmEn}\n내선전화 : ${data.tel}\n핸드폰 : ${data.hp}\n이메일 : ${data.email}`);
		}
		else {
			alert("검색 실패");
		}
	})
	.fail(function(err) {
		console.log(err);
	});
}

$(document).ready(function(){
	
	$("#empNo").change(function(){
		empNo = $(this).val();
		downloadBusicard(empNo);
	});
});
</script>

<form id="frmMain" onsubmit="javascript:return;">
	<div class="form-group">
		<label for="empNo">명함:</label>
		<input type="file" class="form-control" id="uploadFile" name="uploadFile" />
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-block btn-primary" onclick="javascript:parseBusicard();">업로드</button>
	</div>
</form>

</div>

</html>
