<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">

<div layout:fragment="content">
<script type="text/javascript">

var parseBusicard = ()=>{
	
	var form = $('#frmMain')[0];
    var formData = new FormData(form);
    	
	$.ajax({
		type: "POST"
		, url: "/api/busicard/parse"
		, enctype: 'multipart/form-data'
		, data: formData
		, processData: false
		, contentType: false
		, cache: false
		, beforeSend: function() {
			$("#pgDiv").show();
		}
		, xhr: function() {
			xhr = $.ajaxSettings.xhr();
			xhr.upload.onprogress = function(e){
				console.log(`loaded : ${e.loaded} / total : ${e.total}`)
				per = e.loaded * 100 / e.total;
				$("#pgBar").css("width", `${per}%`);
				if(e.loaded == e.total) {
					$("#pgBar").text("거의 다 되었습니다. 잠시만 기다려 주세요.");
				}
			};
			return xhr;
		}
	})
	.done(function(data) {
		console.log(data);
		
		if(data.empNm) {
			alert(`이름 : ${data.empNm}\n직급 : ${data.empPosNm}\n내선전화 : ${data.tel}\n핸드폰 : ${data.hp}\n이메일 : ${data.email}`);
		}
		else if(data.empNmEn) {
			alert(`이름 : ${data.empNmEn}\n직급 : ${data.empPosNmEn}\n내선전화 : ${data.tel}\n핸드폰 : ${data.hp}\n이메일 : ${data.email}`);
		}
		else {
			alert("검색 실패");
		}
	})
	.fail(function(err) {
		console.log(err);
	})
	.always(function() {
		$("#pgBar").css("width", "0%")
			.empty();
		$("#pgDiv").hide();
	});
}

$(document).ready(function(){
	
	$("#empNo").change(function(){
		empNo = $(this).val();
		downloadBusicard(empNo);
	});
});
</script>

<form id="frmMain" onsubmit="javascript:return;">
	<div class="form-group">
		<label for="empNo">명함:</label>
		<input type="file" class="form-control" id="uploadFile" name="uploadFile" />
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-block btn-primary" onclick="javascript:parseBusicard();">업로드</button>
	</div>
	<div class="form-group" id="pgDiv" style="display:none;">
		<div class="progress">
			<div id="pgBar" class="progress-bar progress-bar-striped progress-bar-animated text-center" style="width:0%"></div>
		</div>
	</div>
</form>

</div>

</html>
