<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/default">

<div layout:fragment="content">
<style>
.btn {
	width:200px;
	height:200px;
	font-size:20px;
	margin:15px;
}
</style>
<script type="text/javascript">

var downloadBusicard = (empNo)=>{
	
	$("#busicardKo")
		.attr("src", `/api/busicard/download/ko?empNo=${empNo}`)
		.show();
	$("#busicardEn")
		.attr("src", `/api/busicard/download/en?empNo=${empNo}`)
		.show();
	
}
</script>

<button type="button" class="btn btn-primary" onclick="javascript:window.location.href='/emp/signup';">
	임직원 등록
</button>

<button type="button" class="btn btn-primary" onclick="javascript:window.location.href='/busicard';">
	명함 다운로드
</button>

<button type="button" class="btn btn-primary" onclick="javascript:window.location.href='/busicard/parse';">
	명함 이미지<br/>
	자동분석
</button>

</div>

</html>
